#cabecalho{
    background-color: darkgray;
    list-style: none;
    border: 1px solid #c0c0c0;
    float: left;
}
#cabecalho li{
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
}
#cabecalho li a{
    color: #333;
    text-decoration: none;
    padding:5px 10px;
    display: block;
}