* {
    margin: 0;
    padding: 0;
}

#todo-conteudo {
    max-width: 1980px;
    margin: 0 auto;
}

/* informativo superior */
#cabecalho {
    background: rgb(1, 1, 1);
    color: rgb(255, 255, 255);
    font-family: 'Work Sans';
    text-align: center;

}
#cabecalho ul li {
    list-style-type: none;
    display: inline-block;
    padding: 2px 5%;
    font-size: 16px;
}

/* Menu */
.logo {
    display: flex;
    width: 140px;
    height: 140px;
    margin-right: auto;
    margin-top: -6px;
}

#menu {
    background: rgb(21, 116, 224);
    display: flex;
    height: 120px;
}
#navegacao {
    padding: 50px;
}
#navegacao ul li{
    list-style-type: none;
    display: inline-block;
}
#navegacao a{
    background: rgb(0, 47, 255);
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    bottom: auto;
    padding: 10px;
    margin: 1.5px;
    list-style: none;
    color: rgb(255, 255, 255);    
    text-decoration: none;
}
/*banner*/
.banner img{
    clear:both;
    width: 100%;
}
#conteudo-princiapal{
    background: rgba(83, 83, 83, 0.322);
    margin: 2px 2px;
    padding: 5px;
    height: 1800px;
}

#noticias-principais {
    margin: 1.5px;
    width: 63%;
    height: 800px;
    background-color: #5d56bb;
    margin-bottom: 10px;
    float: left;
}
#menu-lateral {
    margin: 1,5px;
    width: 30%;
    min-width: 400px;
    height: 220px;
    background-color: #5d56bb;
    float: inline-end;
}

#bancada-legislativa {
    clear: both;
    width: 65%;
    height: 600px;
    float: left;
    background-color: #5d56bb;
    margin-right: 4%;
    margin-bottom: 15px;
}

/* Direitos */
.rodape {
    clear:both;
    background: black;
    color: rgb(255, 255, 255);
    font-family: 'Work Sans';
    text-align: center;
}

.rodape div{
    background-color:#0a0370;
    color:black;
    height: 140px;  
    margin: 20px ;  
    padding-left:20px;
    padding-top: 5px;
}
.rodape li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    padding-right: 14px;
    font-size: 14px;
    
}
.rodape a{
   
}
a:link, a:visited, a:hover{
    color: #2dd349;
}