* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* informativo superior */
#cabecalho {
    background: rgb(1, 1, 1);
    color: rgb(255, 255, 255);
    font-family: 'Work Sans';
    text-align: center;
}
#cabecalho ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    padding-right: 14px;
    font-size: 16px;
}

/* Menu */
.logo {
    display: flex;
    align-items: right;
    width: 130px;    
}

#menu {
    background: rgb(224, 21, 21);
    list-style: none; 
    display: flex; 
}

#navegacao ul{
    text-align: right;  
    border: 5px solid rgb(255, 255, 255);
}

#navegacao a{
    background: rgb(199, 109, 109);
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    bottom: auto;
    padding: 16px;
    margin: 5px;
    list-style: none;
    color: rgb(255, 255, 255);    
}


#noticias {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Work Sans';
    text-align: center;
   
} 
footer{
        
}
.rodape {
    background: #1a008d;
    color: rgb(255, 255, 255);
    font-family: 'Work Sans';
    text-align: center;
}

.rodape div{
    background-color:#0a0370;
    color:black;
    height: 140px;  
    margin: 20px ;  
    padding-left:20px;
    padding-top: 5px;
}
.rodape li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    padding-right: 14px;
    font-size: 14px;
    
}