* {
    margin: 0;
    padding: 5;
    border: 5;
}

/* informativo superior */
#cabecalho {
    background: rgb(1, 1, 1);
    color: rgb(255, 255, 255);
    font-family: 'Work Sans';
    text-align: center;
}
#cabecalho ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    padding-right: 14px;
    font-size: 16px;
}

/* Menu */
#menu {
    background: rgb(224, 21, 21);
}

.navega ul{
    text-align: right;
}

.navega a{
    background: rgb(199, 109, 109);
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    bottom: auto;
    padding: 16px;
    margin: 5px;
    list-style: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.logo img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.footer {
    background: #1a008d;
    color: rgb(255, 255, 255);
    font-family: 'Work Sans';
    text-align: center;
}

#footer div{
    background-color:#0a0370;
    width: auto;
    color:black;
    height: 120px;
    margin: 20px auto;
    padding-left:20px;
    padding-top: 5px;
}