:root {
    --cor1: #00a1ff;
    --cor2: #007bff;
}

html {
    overflow-x: hidden;
}
body {
    background-color: #e6e6e6;
}

.menu ul li{
    transition: transform .3s;
    margin: 0 auto;
    font-weight: bold;
}
.menu ul li:hover{
    
    transform: scale(1.1);
}


.banner {
    text-align: center
}

.barra_menu {
   background-color:rgba(0, 161, 255, 0.8;
   opacity: 0.9;
}

@media (min-width: 1024px){


}

