:root {
    cor1: #007bff;
    cor2: #007bff;
}

html {
    overflow-x: hidden;
}

.menu ul li{
    transition: transform .3s;
    margin: 0 auto;
    color: black;
}
.menu ul li:hover{
    transform: scale(1.1);
    margin: 0px 15px;
}


.banner {
    text-align: center
}

.barra_menu{
   background-color: #00a1ff;
   
}

@media (min-width: 1024px){


}

